[flake8]
exclude=
    __pycache__
    monitor/flash_service/icb/
ignore =
    E2, # whitespaces
    E3, # blank lines
    W293, # blank lint contains whitespace
    W291, # trailing whitespaces
    W503, # bad practice: PEP 8 recommended style, which was changed on April 16th, 2016
max-line-length = 120
show-source = True
builtins = 'self'
count = True
statistics = True