# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# vscode workspace JSON
*.code-workspace
.vscode/

# c compiler build folder
firmware/build/

# log output
*.log